@import 'common';

.login-title {
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.list-group-item {
  border-color: transparent;
  border-bottom-color: var(--bs-list-group-border-color);
  padding: 2rem 0;

  &:has(input) {
    padding: 2.5rem 0;
  }
}

input {
  outline: none;
  border: none;
}

.input {
  color: $text-color;
  padding-left: 20px;

  &::-webkit-input-placeholder {
    color: $text-color !important;
  }
}

.fa-solid:has(~ .input:focus) {
  padding-left: 2rem;
  color: $primary-color;
}

.focus-input::before {
  @include before-content(0, 1px);
  left: 0;
  bottom: -1px;
  @include gradient-background-right;
}

.input:focus+.focus-input::before {
  width: 100%;
}
// .has-val.input {
//   padding-left: 0;
// }


