@import 'variables';

.auth-container {
  background-image: url("#{$base-url}/assets/images/bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .65);
  }
}
