<div class="d-flex justify-content-center min-vh-100">
  <div class="card-container">
    <div class="card border-light">
      <div class="logout-img">
        <img [src]="imageUrl" alt="Sign Out">
        <div class="square"></div>
      </div>
      <div class="text-center fs-4">
        <p>Oh no! You're leaving...</p>
        <p>Are you sure?</p>
      </div>
      <div class="logout-btn-group">
        <button class="btn main-btn fs-5" type="button">
          Yes
        </button>
        <button class="btn cancel-btn fs-5" type="button">
          Just Kidding
        </button>
      </div>
    </div>
  </div>
</div>
